.hidden{
    //display:none;
    /*opacity: 0, visibility: hidden*/
    opacity: 0;
    visibility: hidden;

}

.show{
    animation: showY 1s;
}

@keyframes showY{
    0%{
        transform: translateY(-30px);
    }
    50% {
        //transform: translateY(30PX); //empieza abajo
        transform: translateY(-10px);

    }
    100%{
        transform: translateY(0); // llega a su lugar
    }
}