body.dark{
    background-color: #0f0f0f;
    color: #fff;
    h1{
        color: aliceblue;
    }

    a{
        color:#fff;
    }
    
    //Y yo hice esto:
   button:hover{
    background-color: transparent;
    color: #410a6e;
    border: 2px solid #410a6e;

    }
}
